# OS
.DS_Store
desktop.ini
Thumbs.db

# Logs / temp
*.log
*.tmp

# Vendor / config
/vendor/
config.php
composer.phar
/logs/
/tmp_uploads/
installer/

# MEDIA PESADA (CLAVE)
gallery/
books/
models/
boys/
girls/
*.jpg
*.png
*.webp
*.mp4

# Tools / basura local
.bfg-report/
.gemini/
.docker/
.Neo4jDesktop2/
